<section class="card">
    <div class="card-body">
        <h3>About</h3>
        <pass="lead"l c>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Dignissimos sequi voluptatem quia est excepturi fuga accusantium, dolores molestiae odio quasi, atque nemo, provident quos. Minima, illum? Exercitationem ea eos necessitatibus?</p>
    </div>
</section>