<div class="row">
    <div class="col-md-4 mx-auto">
        <div class="card">
            <div class="card-header text-white bg-dark">
               Account register
            </div>
            <div class="card-body">
                {{#if errors}}
                    {{#each errors}}
                        <div class="alert alert-danger">
                            {{text}}
                        </div>
                    {{/each}} 
                {{/if}}
                <form action="/users/signup" method="post">
                   <div class="form-group">
                       <input type="text" name="name" value="{{name}}" placeholder="name" class="form-control" autofocus>
                   </div>
                     <div class="form-group">
                       <input type="email" name="email" value="{{email}}" placeholder="email" class="form-control" >
                   </div>
                   <div class="form-group">
                       <input type="password" name="password" placeholder="password" class="form-control" >
                   </div>
                    <div class="form-group">
                       <input type="password" name="confirm_password" placeholder=" confirm password" class="form-control" >
                   </div>
                   <button type="submit" class="btn btn-primary btn-block">register</button>
                </form>
            </div>
        </div>
    </div>
</div>